# Fitness Tracker Test
## Marshall Ferguson - 12/2021

In [1]:
# Imports

import datetime
import pandas as pd

In [2]:
# Import Data

df_fitnotes = pd.read_csv(r'..\test_data\FitNotes_Test_Data.csv')
df_myfitnesspal = pd.read_csv(r'..\test_data\MyFitnessPal_Test_Data.csv')
df_renpho = pd.read_csv(r'..\test_data\RenPho_Test_Data.csv')

In [3]:
df_fitnotes.head()

,Date,Exercise,Category,Weight (lbs),Reps,Distance,Distance Unit,Time
0,2020-07-11,Flat Barbell Bench Press,Chest,45.0,12.0,NaN,NaN,NaN
1,2020-07-11,Flat Barbell Bench Press,Chest,65.0,8.0,NaN,NaN,NaN
2,2020-07-11,Flat Barbell Bench Press,Chest,95.0,6.0,NaN,NaN,NaN
3,2020-07-11,Flat Barbell Bench Press,Chest,105.0,6.0,NaN,NaN,NaN
4,2020-07-11,Flat Barbell Bench Press,Chest,105.0,6.0,NaN,NaN,NaN

In [4]:
df_myfitnesspal.head()

,Date,Meal,Calories,Fat (g),Saturated Fat,Polyunsaturated Fat,Monounsaturated Fat,Trans Fat,Cholesterol,Sodium (mg),Potassium,Carbohydrates (g),Fiber,Sugar,Protein (g),Vitamin A,Vitamin C,Calcium,Iron,Note
0,2019-06-07,Meal 1,430.0,12.0,2.5,3.0,6.0,0.0,345.0,415.0,375.0,35.0,2.0,21.0,42.0,0.0,0.0,73.0,18.0,NaN
1,2019-06-07,Meal 2,480.0,24.0,7.1,1.9,8.5,0.0,90.0,750.3,503.8,37.4,11.0,3.5,31.5,13.5,16.0,25.8,16.3,NaN
2,2019-06-07,Meal 3,315.0,3.3,0.8,0.0,0.0,0.0,97.5,135.0,0.0,33.0,2.0,0.0,41.5,3.0,3.0,0.0,8.0,NaN
3,2019-06-07,Meal 4,935.0,24.4,8.6,1.1,3.0,0.0,235.0,1343.7,742.4,114.5,19.1,40.4,92.3,111.5,38.3,165.9,27.8,NaN
4,2019-06-08,Meal 4,230.0,7.5,2.0,0.5,1.5,0.0,0.0,330.0,390.0,16.0,1.0,2.0,23.0,10.0,0.0,49.0,4.0,NaN

In [5]:
df_renpho.head()

,Time of Measurement,Weight(lb),BMI,Body Fat(%),Fat-free Body Weight(lb),Subcutaneous Fat(%),Visceral Fat,Body Water(%),Skeletal Muscle(%),Muscle Mass(lb),Bone Mass(lb),Protein(%),BMR(kcal),Metabolic Age,Remarks
0,"December 1, 2021 4:16:11 AM",243.4,31.6,28.1,174.8,24.0,14.0,51.9,46.4,166.2,8.8,16.4,2084.0,35.0,--
1,"November 30, 2021 5:38:54 AM",242.6,31.5,28.0,174.6,23.9,14.0,52.0,46.5,165.8,8.8,16.4,2080.0,35.0,--
2,"November 29, 2021 4:47:06 AM",247.2,32.1,28.9,175.8,24.7,14.0,51.3,45.9,166.8,8.8,16.2,2091.0,35.0,--
3,"November 28, 2021 5:15:57 AM",248.0,32.2,29.0,176.0,24.8,14.0,51.2,45.8,167.4,8.8,16.2,2095.0,35.0,--
4,"November 27, 2021 3:13:45 AM",247.6,32.1,29.0,176.0,24.8,14.0,51.3,45.9,166.8,8.8,16.1,2092.0,35.0,--

Now that we have imported the three datasets, let's do some data cleaning to get everything set up for analysis.

In [6]:
df_fitnotes['Volume (lbs)'] = df_fitnotes['Weight (lbs)'] * df_fitnotes['Reps']

df_fitnotes.head()

,Date,Exercise,Category,Weight (lbs),Reps,Distance,Distance Unit,Time,Volume (lbs)
0,2020-07-11,Flat Barbell Bench Press,Chest,45.0,12.0,NaN,NaN,NaN,540.0
1,2020-07-11,Flat Barbell Bench Press,Chest,65.0,8.0,NaN,NaN,NaN,520.0
2,2020-07-11,Flat Barbell Bench Press,Chest,95.0,6.0,NaN,NaN,NaN,570.0
3,2020-07-11,Flat Barbell Bench Press,Chest,105.0,6.0,NaN,NaN,NaN,630.0
4,2020-07-11,Flat Barbell Bench Press,Chest,105.0,6.0,NaN,NaN,NaN,630.0

In [7]:
dates = []

for date in df_renpho['Time of Measurement']:
    dates.append(datetime.datetime.strptime(date, "%B %d, %Y %I:%M:%S %p").date())

df_renpho['Date'] = dates

df_renpho.head()

,Time of Measurement,Weight(lb),BMI,Body Fat(%),Fat-free Body Weight(lb),Subcutaneous Fat(%),Visceral Fat,Body Water(%),Skeletal Muscle(%),Muscle Mass(lb),Bone Mass(lb),Protein(%),BMR(kcal),Metabolic Age,Remarks,Date
0,"December 1, 2021 4:16:11 AM",243.4,31.6,28.1,174.8,24.0,14.0,51.9,46.4,166.2,8.8,16.4,2084.0,35.0,--,2021-12-01
1,"November 30, 2021 5:38:54 AM",242.6,31.5,28.0,174.6,23.9,14.0,52.0,46.5,165.8,8.8,16.4,2080.0,35.0,--,2021-11-30
2,"November 29, 2021 4:47:06 AM",247.2,32.1,28.9,175.8,24.7,14.0,51.3,45.9,166.8,8.8,16.2,2091.0,35.0,--,2021-11-29
3,"November 28, 2021 5:15:57 AM",248.0,32.2,29.0,176.0,24.8,14.0,51.2,45.8,167.4,8.8,16.2,2095.0,35.0,--,2021-11-28
4,"November 27, 2021 3:13:45 AM",247.6,32.1,29.0,176.0,24.8,14.0,51.3,45.9,166.8,8.8,16.1,2092.0,35.0,--,2021-11-27

The RenPho dataset has one entry for each date since I weigh in once a day. The MyFitnessPal and FitNotes datasets have multiple entries per day. The MyFitnessPal has an entry for each meal (multiple meals a day) and the FitNotes dataset has an entry for each set performed of a workout (multiple sets per workout). My thought process is that since I am concerned with the sum totals of volume lifted and calories/macronutrients consumed per day, I can group the MyFitnessPal and FitNotes datasets by date, and then sum the needed values before combining the three datasets into one complete dataset.

In [8]:
df_fitnotes_groupby_date = df_fitnotes.groupby('Date').sum()

df_fitnotes_groupby_date = df_fitnotes_groupby_date.reset_index()

df_fitnotes_groupby_date.head()

         Date  Weight (lbs)   Reps  Distance  Volume (lbs)
0  2020-07-11         899.0  187.0       0.0        7098.0
1  2020-07-12        1200.0  193.0       0.0       10035.0
2  2020-07-13        1014.0  202.0       0.0        8906.0
3  2020-07-14        2375.0  206.0       0.0       19300.0
4  2020-07-22        2115.0  200.0       0.0       18760.0

In [9]:
df_fitnotes_groupby_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          101 non-null    object
 1   Weight (lbs)  101 non-null    float64
 2   Reps          101 non-null    float64
 3   Distance      101 non-null    float64
 4   Volume (lbs)  101 non-null    float64
dtypes: float64(4), object(1)
memory usage: 4.1+ KB

In [10]:
df_myfitnesspal_groupby_date = df_myfitnesspal.groupby("Date").sum()

df_myfitnesspal_groupby_date = df_myfitnesspal_groupby_date.reset_index()

df_myfitnesspal_groupby_date.head()

,Date,Calories,Fat (g),Saturated Fat,Polyunsaturated Fat,Monounsaturated Fat,Trans Fat,Cholesterol,Sodium (mg),Potassium,Carbohydrates (g),Fiber,Sugar,Protein (g),Vitamin A,Vitamin C,Calcium,Iron,Note
0,2019-06-07,2160.0,63.7,19.0,6.0,17.5,0.0,767.5,2644.0,1621.2,219.9,34.1,64.9,207.3,128.0,57.3,264.7,70.1,0.0
1,2019-06-08,230.0,7.5,2.0,0.5,1.5,0.0,0.0,330.0,390.0,16.0,1.0,2.0,23.0,10.0,0.0,49.0,4.0,0.0
2,2019-06-09,2221.5,84.9,26.7,5.9,17.5,0.0,656.3,3272.8,1668.8,154.9,18.0,28.5,208.8,36.0,18.5,220.8,68.3,0.0
3,2019-06-10,2270.4,93.8,33.0,5.1,14.5,0.0,620.3,3292.3,1481.0,172.1,16.0,26.4,186.0,23.8,14.2,200.6,70.1,0.0
4,2019-06-11,1722.0,73.3,23.5,4.3,13.5,0.0,585.0,4339.9,2037.5,137.0,23.7,29.5,133.4,31.4,15.2,140.7,66.1,0.0

In [11]:
df_myfitnesspal_groupby_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 234 non-null    object
 1   Calories             234 non-null    float64
 2   Fat (g)              234 non-null    float64
 3   Saturated Fat        234 non-null    float64
 4   Polyunsaturated Fat  234 non-null    float64
 5   Monounsaturated Fat  234 non-null    float64
 6   Trans Fat            234 non-null    float64
 7   Cholesterol          234 non-null    float64
 8   Sodium (mg)          234 non-null    float64
 9   Potassium            234 non-null    float64
 10  Carbohydrates (g)    234 non-null    float64
 11  Fiber                234 non-null    float64
 12  Sugar                234 non-null    float64
 13  Protein (g)          234 non-null    float64
 14  Vitamin A            234 non-null    float64
 15  Vitamin C            234 non-null    float64
 16  Calcium              234 non-null    float64
 17  Iron                 234 non-null    float64
 18  Note                 234 non-null    float64
dtypes: float64(18), object(1)
memory usage: 34.9+ KB

In [12]:
myfitnesspal_varsofinterest = ['Date', 'Calories', 'Fat (g)', 'Carbohydrates (g)', 'Protein (g)']

df_myfitnesspal_grouped_trimmed = df_myfitnesspal_groupby_date.filter(myfitnesspal_varsofinterest, axis=1)

df_myfitnesspal_grouped_trimmed.head()

         Date  Calories  Fat (g)  Carbohydrates (g)  Protein (g)
0  2019-06-07    2160.0     63.7              219.9        207.3
1  2019-06-08     230.0      7.5               16.0         23.0
2  2019-06-09    2221.5     84.9              154.9        208.8
3  2019-06-10    2270.4     93.8              172.1        186.0
4  2019-06-11    1722.0     73.3              137.0        133.4

In [13]:
df_renpho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Time of Measurement       543 non-null    object
 1   Weight(lb)                543 non-null    float64
 2   BMI                       543 non-null    float64
 3   Body Fat(%)               543 non-null    float64
 4   Fat-free Body Weight(lb)  543 non-null    float64
 5   Subcutaneous Fat(%)       543 non-null    float64
 6   Visceral Fat              543 non-null    float64
 7   Body Water(%)             543 non-null    float64
 8   Skeletal Muscle(%)        543 non-null    float64
 9   Muscle Mass(lb)           543 non-null    float64
 10  Bone Mass(lb)             543 non-null    float64
 11  Protein(%)                543 non-null    float64
 12  BMR(kcal)                 543 non-null    float64
 13  Metabolic Age             543 non-null    float64
 14  Remarks                   543 non-null    object
 15  Date                      543 non-null    object
dtypes: float64(13), object(3)
memory usage: 68.0+ KB

In [14]:
renpho_varsofinterest = ['Date', 'Weight(lb)', 'BMI', 'Body Fat(%)', 'BMR(kcal)', 'Metabolic Age']

df_renpho_trimmed = df_renpho.filter(renpho_varsofinterest, axis=1)

df_renpho_trimmed.head()

         Date  Weight(lb)   BMI  Body Fat(%)  BMR(kcal)  Metabolic Age
0  2021-12-01       243.4  31.6         28.1     2084.0           35.0
1  2021-11-30       242.6  31.5         28.0     2080.0           35.0
2  2021-11-29       247.2  32.1         28.9     2091.0           35.0
3  2021-11-28       248.0  32.2         29.0     2095.0           35.0
4  2021-11-27       247.6  32.1         29.0     2092.0           35.0

The RenPho data set it the only one that shows the Date column differently that the other two datasets. I am going to try to reverse the order of the Dates in df_renpho to see if that makes the data easier to merge.

In [16]:
df_renpho_trimmed_reversed = df_renpho_trimmed.iloc[::-1]

df_renpho_trimmed_reversed = df_renpho_trimmed_reversed.reset_index().drop('index', axis=1)

df_renpho_trimmed_reversed.head()

         Date  Weight(lb)   BMI  Body Fat(%)  BMR(kcal)  Metabolic Age
0  2020-03-15       224.8  29.2         24.3     2037.0           31.0
1  2020-03-16       227.2  29.5         24.7     2046.0           31.0
2  2020-03-17       226.4  29.4         24.6     2042.0           31.0
3  2020-03-18       228.0  29.6         24.9     2047.0           31.0
4  2020-03-19       228.2  29.6         24.9     2048.0           31.0

Now it is time to combine these three dataframes from the three different apps into one complete data source.

In [17]:
df_combined = pd.concat([df_myfitnesspal_grouped_trimmed, df_fitnotes_groupby_date, df_renpho_trimmed_reversed], axis=1)

df_combined.head()

,Date,Calories,Fat (g),Carbohydrates (g),Protein (g),Date,Weight (lbs),Reps,Distance,Volume (lbs),Date,Weight(lb),BMI,Body Fat(%),BMR(kcal),Metabolic Age
0,2019-06-07,2160.0,63.7,219.9,207.3,2020-07-11,899.0,187.0,0.0,7098.0,2020-03-15,224.8,29.2,24.3,2037.0,31.0
1,2019-06-08,230.0,7.5,16.0,23.0,2020-07-12,1200.0,193.0,0.0,10035.0,2020-03-16,227.2,29.5,24.7,2046.0,31.0
2,2019-06-09,2221.5,84.9,154.9,208.8,2020-07-13,1014.0,202.0,0.0,8906.0,2020-03-17,226.4,29.4,24.6,2042.0,31.0
3,2019-06-10,2270.4,93.8,172.1,186.0,2020-07-14,2375.0,206.0,0.0,19300.0,2020-03-18,228.0,29.6,24.9,2047.0,31.0
4,2019-06-11,1722.0,73.3,137.0,133.4,2020-07-22,2115.0,200.0,0.0,18760.0,2020-03-19,228.2,29.6,24.9,2048.0,31.0

In [18]:
df_combined.tail()

,Date,Calories,Fat (g),Carbohydrates (g),Protein (g),Date,Weight (lbs),Reps,Distance,Volume (lbs),Date,Weight(lb),BMI,Body Fat(%),BMR(kcal),Metabolic Age
538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-27,247.6,32.1,29.0,2092.0,35.0
539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-28,248.0,32.2,29.0,2095.0,35.0
540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-29,247.2,32.1,28.9,2091.0,35.0
541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-30,242.6,31.5,28.0,2080.0,35.0
542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-01,243.4,31.6,28.1,2084.0,35.0

In [20]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               234 non-null    object
 1   Calories           234 non-null    float64
 2   Fat (g)            234 non-null    float64
 3   Carbohydrates (g)  234 non-null    float64
 4   Protein (g)        234 non-null    float64
 5   Date               101 non-null    object
 6   Weight (lbs)       101 non-null    float64
 7   Reps               101 non-null    float64
 8   Distance           101 non-null    float64
 9   Volume (lbs)       101 non-null    float64
 10  Date               543 non-null    object
 11  Weight(lb)         543 non-null    float64
 12  BMI                543 non-null    float64
 13  Body Fat(%)        543 non-null    float64
 14  BMR(kcal)          543 non-null    float64
 15  Metabolic Age      543 non-null    float64
dtypes: float64(13), object(3)
memory usage: 68.0+ KB